{% extends 'outlayout.html' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block carousel %}
{% endblock %}
{% block home %}
{% endblock %}
{% block body %}

{% block loginout %}
{% endblock %}
<div class="container">
	<form method="POST" class="doctor-form">{% csrf_token %}
			<h1>Log In</h1>
			<table>
				<tr>
					<td><label>Username:</label></td>
					<td><input type="text" name="{{ form.username.html_name }}"></td>
				</tr>
				<tr>
					<td><label>Password:</label></td>
					<td><input type="password" name="{{ form.password.html_name }}"></td>
				</tr>	
				<tr>
					<td><label>Enter Captcha:</label></td>
					<td>{{ form.captcha }}</td>
					<td>
					{% if form.errors.captcha %}
						{{ form.errors.captcha }}
					{% endif %}
					</td>
				</tr>			
			</table>
			<div class="d-reg">
				<button type="submit">Login</button>
				<button type="Reset">Reset</button>
			</div>
			<div class="forgot">
				<a href="#">Forgot Password?</a>
				<a href="{% url 'signup'%}">New User?</a>				
			</div>
	</form>
</div>

{% endblock %}